* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0px;
  background-color: #f0f0f0;
  padding-bottom: 100px;
  user-select: none;
}

header {
  z-index: 2;
  background-color: #3498db;
  height: 47px;
  /* Change the background color to your desired color */
  color: rgb(0, 0, 0);
  /* Change the text color to white or a contrasting color */
  padding: 10px 30px;
  /* Adjust padding as needed */
  text-align: right;
  /* Center the text in the header */
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  /* border-radius: 10px; */
  border-bottom: 1px solid rgb(19, 64, 200);
}

header button {
  /* background-color: rgb(255, 106, 0); */
  color: rgb(0, 0, 0);
  padding: 8px;
  border-radius: 10px;
  border: none;
  background: transparent;
}

header div {
  display: flex;
}

#Addbtn {
  font-size: 25px;
}

#output_date {
  display: flex;
}

.form_display {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  /* Center forms */
}

form {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 300px;
}

.form_element {
  margin: 10px;
  margin-bottom: 15px;
}

.form_element label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.form_element input {
  width: calc(100% - 10px);
  min-width: 50px;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  font-weight: 700;
  text-align: center;
  outline: none;
}

.form_element input[readonly] {
  background-color: #f0f0f0;
}

.delete-button {
  background-color: red;
  border: none;
  color: white;
  padding: 10px 20px;
  border-radius: 7px;
  cursor: pointer;
}

.dnone {
  display: none;
}

.delete-button:hover {
  background-color: darkred;
}

#output_div {
  display: flex;
}

footer {
  margin-top: 20px;
  /* Adjusted to margin-top */
  text-align: center;
  /* Center the button */
  position: fixed;
  bottom: 0;
  background-color: #3498db;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

footer button {
  padding: 10px 20px;
  background-color: #3498db;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
}

footer button:hover {
  background-color: #2980b9;
}

.block {
  display: block;
}

/* CSS for textarea */
textarea {
  width: calc(100% - 10px);
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  font-weight: 700;
  text-align: center;
  resize: vertical;
  /* Allow vertical resizing */
  outline: none;
}

textarea[readonly] {
  background-color: #f0f0f0;
}
/* //////////////////////////////////////////////////////////////////////////////////// */
#name {
  font-size: 22px;
  text-align: center;
  margin-bottom: 15px;
  font-weight: 700;
}

form input {
  display: block;
  width: calc(100% - 22px);
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  box-sizing: border-box;
  background-color: white; /* Set the input background color */
  color: #333; /* Set the input text color */
  text-align: center;
}

/* Style the labels */
form label {
  display: block;
  margin-bottom: 5px;
  color: #555; /* Set the label text color */
}

/* Style the headers */
form h3 {
  margin-top: 20px;
  font-size: 18px;
  color: #333; /* Set the header text color */
}

/* Make the form inputs readonly */
form input[readonly] {
  background-color: #f0f0f0;
  color: #555; /* Set the readonly input text color */
  background: transparent;
  border-radius: 10px;
  outline: none;
  text-transform: capitalize;
}

form {
  text-align: center;
  background-color: #ffffff;
  padding: 10px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #f0f0f0;
  /* border: 2px solid black; */
}

#cdbd {
  display: flex;
}

#ageymd {
  display: flex;
  justify-content: center;
  align-items: center;
}
#ageymd label {
  text-align: center;
  width: calc(100% - 22px);
}

#nbd {
  display: flex;
  flex-direction: column;
}

#nbd #nbdd {
  display: flex;
}

#extra {
  display: flex;
  flex-direction: column;
}

#extra #extradiv {
  display: flex;
  flex-direction: column;
}

#extra #extradiv div {
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
}

#extra #extradiv div input {
  width: 100px;
}
#upcd div {
  display: flex;
}
#upcd div input {
  margin: 10px;
}
.left {
  text-align: center;
}
.right {
  text-align: center;
}
.check_btn {
  background-color: greenyellow;
  padding: 7px;
  margin: 10px;
  border-radius: 10px;
}

